.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.contact-inner-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 100%;
  width: 40%;
  height: inherit;
}

.contact-adress {
  display: flex;
  flex-direction: column;
}

.contact-header {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 25px;
}

.contact-adress-information {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  font-size: 20px;
}

.contact-adress-information a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.contact-adress-information a:hover {
  color: var(--accent-3);
}

.contact-social-sites {
  font-size: 50px;
  margin-bottom: 0.5em;
}

.contact-adress-icon,
.contact-social-sites-icon {
  color: var(--accent-3);
  transition: color 0.3s;
  text-decoration: none;
  transition: transform 0.3s;
}

.contact-social-sites-icon {
  margin-right: 0.5em;
}

.contact-adress-icon {
  margin-right: 1em;
}

.contact-link:hover .contact-social-sites-icon {
  color: inherit;
  transform: scale(1.1);
}
