.contact-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
}

.contact-inner-container {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  box-sizing: border-box;
}

.contact-adress-information,
.contact-header,
.contact-social-sites {
  text-align: left;
  word-break: break-word;
}

.contact-adress {
  display: flex;
  flex-direction: column;
}

.contact-header {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 25px;
}

.contact-adress-information {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  font-size: 20px;
}

.contact-adress-information a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.contact-adress-information a:hover {
  color: var(--accent-3);
}

.contact-social-sites {
  font-size: 50px;
  margin-bottom: 0.5em;
}

.contact-adress-icon,
.contact-social-sites-icon {
  color: var(--accent-3);
  transition: color 0.3s;
  text-decoration: none;
  transition: transform 0.3s;
}

.contact-social-sites-icon {
  margin-right: 0.5em;
}

.contact-adress-icon {
  margin-right: 1em;
}

.contact-link:hover .contact-social-sites-icon {
  color: inherit;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .contact-inner-container {
    width: 40%;
  }
}
