@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Together;
  src: url(./assets/Fonts/Together.ttf);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-3);
  font-weight: 500;
  scroll-behavior: smooth;
  color: var(--secondary-3);
}

.page-section {
  padding: 100px 20px;
  height: 100vh;
  padding: 0;
}

.page-section:nth-child(2n) {
  background-color: var(--primary-1);
}
