.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  transition: background-color 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 2px;
  z-index: 100000;
}

.nav.scrolled {
  background-color: var(--primary-1);
  background-image: none;
  box-shadow: 0 3px 10px var(--primary-1, 20);
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.nav-ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.nav-li {
  display: inline-block;
  padding: 10px 20px;
}

.nav-li a:hover {
  color: var(--accent-3);
  cursor: pointer;
}

.nav.scrolled .nav-li a:hover {
  color: var(--accent-3);
}

.nav-li a {
  text-decoration: none;
  color: var(--secondary-3);
  font-weight: 700;
}

.logo-button a {
  text-decoration: none;
  color: inherit;
}

.logo-button img {
  max-width: 70px;
  height: auto;
  object-fit: contain;
}
