.produkty-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  margin-bottom: 2em;
  width: 100%;
  min-height: 100vh;
}

.produkty-inner-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;
  max-width: 100%;
}

.produkt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.produkt.reverse {
  flex-direction: row-reverse;
}

.produkt-text {
  flex: 1;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.produkt-image {
  flex: 1;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  border-radius: 8px;
}

.produkty-container h2 {
  font-size: 50px;
  font-weight: 400;
}

.extra-content {
  margin-top: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.toggle-button {
  background: none;
  border: none;
  padding: 2rem;
  margin: 0;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  color: white;
}
